    

<fieldset>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" role="iconpicker" style="float: left" name="iconDropdown" data-icon="<%=task.icon%>"></button>
            <input placeholder="Task Icon" type="text" tabindex="2" required name="icon" id="icon" value="<%=task.icon%>" hidden>
        </span>
        <input placeholder="Task Name" type="text" tabindex="1" required autofocus name="name" value="<%=task.name%>">
    </div>
</fieldset>
<fieldset>
    <textarea placeholder="Summary / Descriptions here" tabindex="3" name="description" required><%=task.description%></textarea>
</fieldset>
<fieldset>
    <textarea id="content_area" name="content"><%=task.content%></textarea>
</fieldset>
<fieldset>
    <button name="submit" type="submit" id="pocketmouse-submit" data-submit="...Sending">Submit Edit</button>
</fieldset>


<script src="node_modules/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
  selector: '#content_area',
  promotion: false
});
</script>


<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<!-- Bootstrap-Iconpicker -->
<link rel="stylesheet" href="/include/iconpicker/css/bootstrap-iconpicker.min.css"/>
<!-- jQuery CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Bootstrap CDN -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Bootstrap-Iconpicker Bundle -->
<script type="text/javascript" src="/include/iconpicker/js/bootstrap-iconpicker.bundle.min.js"></script>

<!-- This is called when an icon chaneges -->    
<script>
$('.iconpicker').on('change', function(e) {

    var field = document.getElementById("icon");
    field.value = e.icon;
});
</script>